/* css typography */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

li {
    display: inline-block;
}

/* navbar Section start */
.navbar-section {
    background: #EAEAEA;
    height: 9em;
    line-height: 9em;
}

.navbar-left {
    width: 30%;
    height: 9em;
    line-height: 13em;
}

.navbar-left img {
    width: 7em;
}

.navbar-right {
    margin-left: auto;
    text-transform: capitalize;
}

.navbar-right ul li {
    padding-left: 1em;
}

.home a {
    border-bottom: 2px solid #444744;
}

.navbar-right ul li a {
    font-size: 1.2em;
    padding-bottom: .3em;
    transition: all .2s ease-in-out;

}

.navbar-right ul li a:hover {
    border-bottom: 2px solid #444744;
}

.button a {
    background: #005672;
    outline: 0;
    border: 0;
    border-radius: 3px;
    padding: .8em 1em;
    display: block;
    height: 2em;
    line-height: 0em;
    padding-top: 19px;
    transition: all .4s ease-in-out;
    color: white;
    font-weight: bold;
}

.button a:hover {
    border-bottom: 0 !important;
    background: #0066F9;

    color: white;
    font-weight: bold;
}

/* footer saection start */
.footrer-section {}

.footer-content {}

.footer-icon {}

.footer-icon ul {}

.footer-icon ul li {}

.footer-icon ul li a {}

.footer-icon ul li a span {
    display: block;
    font-size: 2em;
    color: #005672;
    padding-right: 0.3em;
}

.footer-text {}

.footer-text p {
    font-size: 1.3em;
}
.footer-text p:first-child {
    padding: .5em 0;
    
}
.footer-text p a {
    text-decoration: underline;
}

/* footer saection end */

/* post-secton start */
.post-secton{}
.post-content{}
.post-content h2 {
    padding: 1em 0;
    font-size: 2.7rem;
}
.post-content p {
    font-size: 1.4em;
}
.post-card {
    margin-bottom: 1em;
}
.post-card p{ }
.card{
    width: 48%;
    position: relative;
}
.card-img {}
.card-img a {}
.card-img a img {
    width: 97%;
    height: 20em;
}
.getsby {
    position: absolute;
    width: 6em;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    background: #005672;
    left: 14em;
    bottom: 8.5em;
    border-radius: 3px;
    font-weight: bold;
    color: white;
}
.card-text {
    width: 97%;
    background: #eee;
    margin-top: -4px;
    padding: 1em;
    font-size: 1.1em;
    color: #333;
}
.card-text span{}
.card-text h3 {
    padding: .5em 0;
}
.all-post {
    margin-top: 1em;
    display: block;
    font-size: 1.2em;
    text-decoration: underline;

}
.footer-text{}
.about-contents{}
.footer-text p{}
.footer-text p a{}

/* post-secton end */

/* About Page style start */
.about-contents{}
.about-text{}
.about-text h1 {
    padding: 1em 0;
    font-size: 2.4em;
}
.about-text h2 {
    padding-bottom: 1em;
}
.about-text p {
    padding-bottom: .8em;
    font-size: 1.3em;
}
.about-text ul{}
.about-text ul li {
    padding-bottom: .9em;
    font-size: 1.3em;
    display: block;
}
.about-text ul li a{}
/* About Page style End */


/* contact page start */
.conatct-section{}
.contact-content {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 2em 0;
}
.contact-content h2 {
    font-size: 2em;
    padding-bottom: .5em;
}
.contact-content p {
    padding: 0 2em;
    padding-bottom: 1em;
}
.form{}
.form textarea {
    width: 100%;
    margin-left: 55px;
    resize: none;
}
.form label {
    margin-left: -38em;
}
.form input {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-left: 60px;
}
.conatct-section{}
.conatct-section{}
/* contact page start */
